.subscribeForm {
  margin-top: 40px;
  max-width: 100vw !important;
}

.formField {
  overflow: hidden !important;
  margin-right: 20px;
  margin-left: 20px;
  input {
    max-width: 350px;
  }
  input:focus {
    outline: 0;
  }
}

.button {
  @media screen and (max-width: 720px) {
    align-self: center;
    margin-top: 20px;
  }
}
