// Included if you are using grommet.  Otherwise, just erase this next line.
@import "./grommet.scss"; // <- This line to be exact.

body {
  overflow-x: hidden;
}

.spin-image {
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(-360deg);}
}

$animation-duration: 1s;

@mixin slide-animation($opacity, $transform...) {
  opacity: $opacity;
  transform: $transform;
}

.animate {
  transition: all $animation-duration;
}

.fade--enter,
.fade--leave {
  opacity: 0;
}

.slide-up--enter,
.slide-down--leave {
  @include slide-animation(0, translateY(50%));
}

.slide-up--leave,
.slide-down--enter {
  @include slide-animation(0, translateY(-50%));
}

.slide-left--enter,
.slide-right--leave {
  @include slide-animation(0, translateX(50%));
}

.slide-left--leave,
.slide-right--enter {
  @include slide-animation(0, translateX(-50%));
}
