.homeHero {
  background-color: #3b3b3b;
  height: 50vh;
  min-height: 550px;
  color: white;
}

.mainLogo {
  height: 300px;
  width: 300px !important;
}

.noPad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
